<div class="row" style="padding-top:10%;">
    <div class="col"> </div>
<div class="col-md-8">


<h1> Edita el articulo </h1>
<%= form_for @article do |f| %>
<p>
    <%= f.label :title %> <br>
    <%= f.text_field :title, class: 'form-control' %>
</p>
<p>
    <%= f.label :text %> <br>
    <%= f.text_area :text, class: 'form-control' %>
</p>
<p>
    <%= f.submit 'Actualizar', class:'btn btn-md btn-warning' %>
</p>
<%= link_to 'Regresar', articles_path, class:'btn btn-md btn-info' %>


<% end %>
</div>
<div class="col"></div>
 </div>
 <hr>
 <br>
 <br>
 <br><br>
 <br>
