
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

<div class="row">
    <div class="col"> </div>
<div class="col-md-10">

<h1> Articulos publicados </h1>
<p>
<%= link_to 'Nuevo articulo', new_article_path, class:'btn btn-lg btn-info' %></p>
<table id="example" class="table table-hover table-striped table-responsive-xs">
<thead>
    <tr>
        <th><%= link_to "Titulo", :sort => "title" %></th>
        <th><%= link_to "Texto", :sort => "text" %></th>
        <th><%= link_to "Fecha de creacíon",  :sort => "created_at"  %></th>
        <th colspan="5">Opciones de edicíon<th>
    </tr>
</thead>
<tbody>
<% @articles.each do  |article| %>
<tr>
    <td>
        <%= article.title %>
    </td>
    <td>
        <%= truncate(article.text, lenght: "75") %>
    </td>

    <td>
        <%= article.created_at %>
    </td>

    <td>
         <%= link_to 'Mostrar', article_path(article), class:'btn btn-sm btn-info' %>
    </td>
    <td>
        <%= link_to 'Editar', edit_article_path(article), class:'btn btn-sm btn-warning' %>
    </td>

    <td>
        <%= link_to 'Borrar', article_path(article),
        class:'btn btn-sm btn-danger',
        method: :Delete,
        data: {confirm: '¿Estas seguro parce de Borrar este articulo?'}
        %>
    </td>
</tr>

<% end %>
</tbody>
</table>

</div>
<div class="col"></div>
 </div>
 <hr>
 <br>
 <br> <br><br>
  <br>
 <br><br>
 <br>
 <br><br>
 <br>
