
<div class="row">
    <div class="col"> </div>
<div class="col-md-7">

<p>
    <strong><%= @article.title %></strong>

<p>
    <%= @article.created_at.strftime('%a %-b %-d, %Y') %></p>
<hr><br>
</p>

<div class="field" style="100%;">
<p>
    <strong>
        Text:
    </strong>
    <%=@article.text %>

</p>

</div>
<hr>
<br>
<p> <%= link_to 'Regresar', articles_path, class:'btn btn-md btn-info' %>
 <%= link_to 'Principal', welcome_index_path, class:'btn btn-md btn-primary' %>
 <%= link_to 'Editar', edit_article_path, class:'btn btn-md btn-warning'  %>
</p>

</div>
<div class="col"></div>
 </div>
