<p> <strong>Title:</strong>
<%= @article.title %>
</p>
<p> <%= @article.created_at %></p> 
<p>
    <strong>
        Text:
    </strong>
    <%=truncate(@article.text, lenght: "75") %>

</p>

<p> <%= link_to 'Back', articles_path %>
| <%= link_to 'Home', welcome_index_path %>
| <%= link_to 'edit', edit_article_path %>
</p>
